@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0; }

.BodyGeneral {
  font-family: 'Aboreto', cursive;
  /* ff 3.6+ */
  background: -moz-linear-gradient(90deg, #060606 0%, #2d56ad 100%);
  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(90deg, #060606 0%, #2d56ad 100%);
  /* opera 11.10+ */
  background: -o-linear-gradient(90deg, #060606 0%, #2d56ad 100%);
  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2D56AD', endColorstr='#060606', GradientType=0 );
  /* ie 10+ */
  background: -ms-linear-gradient(90deg, #060606 0%, #2d56ad 100%);
  /* global 94%+ browsers support */
  background: linear-gradient(90deg, #060606 0%, #2d56ad 100%);
  height: 100vh; }

h1 {
  Font-size: 40px;
  color: white; }

h2 {
  Font-size: 36px;
  color: white; }

h3 {
  Font-size: 24px;
  color: white; }

h4 {
  Font-size: 18px;
  color: white; }

p {
  Font-size: 18px;
  color: white; }

.card-body {
  background-color: #22323b; }

.container-fluid li a {
  color: #f1f0f0; }

.DiseñoTodoFooter {
  min-width: 200px;
  display: flex;
  justify-content: space-around; }

.DiseñoTodoFooter a {
  text-decoration: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #314652;
  color: #f1f1f1;
  border-radius: 45%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all .4s ease-in-out; }

.DiseñoTodoFooter a:hover {
  transform: scale(1.2); }

/* CSS de index*/
.angry-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 100%;
  gap: 0px; }

#item-Main {
  grid-row-start: 5;
  grid-column-start: 1;
  grid-row-end: 8;
  grid-column-end: 6; }

#item-Footer {
  grid-row-start: 8;
  grid-column-start: 1;
  grid-row-end: 9;
  grid-column-end: 6;
  text-align: center; }

#item-MenuModelos {
  grid-row-start: 4;
  grid-column-start: 1;
  color: white;
  grid-row-end: 5;
  grid-column-end: 5; }

.col {
  color: white; }

/* CSS de servicios*/
.angry-gridServicios {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 100%;
  gap: 0px; }

#ServiciosMain {
  grid-row-start: 4;
  grid-column-start: 1;
  grid-row-end: 5;
  grid-column-end: 6; }

#ServiciosFooter {
  grid-row-start: 7;
  grid-column-start: 1;
  grid-row-end: 8;
  grid-column-end: 6;
  text-align: center; }

.Servicios4, .Servicios5, .Servicios6, .Servicios7, .Servicios8, .Servicios9 {
  padding: 6px;
  margin: 10px;
  background-color: #569ec7;
  grid-row-start: 5;
  grid-column-start: 1;
  grid-row-end: 6;
  grid-column-end: 3; }

.Servicios5 {
  grid-row-start: 6;
  grid-column-start: 1;
  grid-row-end: 7;
  grid-column-end: 3; }

.Servicios6 {
  grid-row-start: 5;
  grid-column-start: 4;
  grid-row-end: 6;
  grid-column-end: 6; }

.Servicios7 {
  grid-row-start: 6;
  grid-column-start: 4;
  grid-row-end: 7;
  grid-column-end: 6; }

.Servicios8 {
  grid-row-start: 5;
  grid-column-start: 3;
  grid-row-end: 6;
  grid-column-end: 4; }

.Servicios9 {
  grid-row-start: 6;
  grid-column-start: 3;
  grid-row-end: 7;
  grid-column-end: 4; }

/* CSS de promociones*/
.angry-gridPromociones {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 100%;
  gap: 0px; }

#PromocionesArticulo {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 6;
  grid-column-end: 6; }

#PromocionesFooter {
  grid-row-start: 6;
  grid-column-start: 1;
  grid-row-end: 7;
  grid-column-end: 6;
  text-align: center; }

/* CSS de Contacto*/
.angry-gridContacto {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 100%;
  gap: 0px; }

#ContactoFormulario {
  grid-row-start: 4;
  grid-column-start: 1;
  grid-row-end: 6;
  grid-column-end: 6;
  color: white; }

#ContactoFormularioDeContacto {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 5;
  color: white; }

#ContactoFooter {
  grid-row-start: 6;
  grid-column-start: 1;
  grid-row-end: 7;
  grid-column-end: 6;
  text-align: center; }

/* CSS de acerca de nosotros*/
.angry-gridAcercaDeNosotros {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 100%;
  gap: 0px; }

#AdcMain {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 5;
  grid-column-end: 5; }

#AdcFooter {
  grid-row-start: 5;
  grid-column-start: 1;
  grid-row-end: 6;
  grid-column-end: 6;
  text-align: center; }

/* CSS DE PC*/
@media (min-width: 720px) {
  .BodyGeneral {
    height: auto;
    width: auto; }
  .NavGeneral {
    display: inline;
    position: sticky;
    top: 0;
    z-index: 1;
    text-align: center;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px; }
  .NavGeneral li a {
    position: sticky;
    text-decoration: none;
    background-color: #131720;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    text-transform: uppercase;
    text-align: center;
    border: 3px solid #52f0e3;
    border-radius: 100px;
    color: white; }
  .DiseñoTodoFooter {
    min-width: 700px;
    display: flex;
    justify-content: space-around; }
  .DiseñoTodoFooter a {
    height: 60;
    width: 60;
    text-decoration: none;
    font-size: 28px;
    line-height: 60px;
    text-align: center;
    background: #314652;
    color: #ffffff;
    border-radius: 45%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: all .4s ease-in-out; }
  .DiseñoTodoFooter a:hover {
    transform: scale(1.2); }
  /* CSS de index PC*/
  .angry-grid {
    display: inline;
    height: 100%;
    gap: 0px; }
  /* CSS de servicios PC*/
  .angry-gridServicios {
    display: inline;
    height: 100%;
    gap: 0px; }
  /* CSS de promociones PC*/
  .angry-gridPromociones {
    display: inline;
    height: 100%;
    gap: 0px; }
  /* CSS de contacto PC*/
  .angry-gridContacto {
    display: inline;
    height: 100%;
    gap: 0px; }
  /* CSS de acerca de nosotros PC*/
  .angry-gridAcercaDeNosotros {
    display: inline;
    gap: 0px;
    height: 100%; } }
