*{
    box-sizing: border-box;
     margin: 0; }
     @import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

.BodyGeneral{

    font-family: 'Aboreto', cursive;

    
    

      /* ff 3.6+ */
    background:-moz-linear-gradient(90deg, rgba(3, 18, 19, 0.85) 0%, rgba(0, 0, 0, 1) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(90deg, rgba(3, 18, 19, 0.85) 0%, rgba(0, 0, 0, 1) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(90deg, rgba(3, 18, 19, 0.85) 0%, rgba(0, 0, 0, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#031213', GradientType=0 );

    /* ie 10+ */
    background:-ms-linear-gradient(90deg, rgba(3, 18, 19, 0.85) 0%, rgba(0, 0, 0, 1) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(90deg, rgba(3, 18, 19, 0.85) 0%, rgba(0, 0, 0, 1) 100%);

  
  
 
     height: 100vh;
}





$Font-sizes: (
  h1: 40px,
  h2: 36px,
  h3: 24px,
  h4: 18px,
  p: 18px,
 
);
@each $tag, $size in $Font-sizes {
   #{$tag} {
      Font-size: $size;
      color:white;     
   }
}

@mixin gap-height($gap, $height){
   height: $height;
   gap: $gap;
}

   @mixin sizes($width, $height) {
   height: $height;
   width: $width;
}

.PGeneral{
   margin: 20px;
   font-family: 'Raleway', sans-serif;
   
}

.TextoCentro p {
   font-size: 20px;
}

.fw-bold{
   font-size: 35px;
   text-decoration: underline;
}
.Pcaracter p{
   font-size: 18px;
}



.card-body{
   background-color: #22323b;
   font-size: 18px;
    
    
    font-weight: 700;
   
}

.container-fluid li a {
   color: rgb(241, 240, 240);
    
}
$card-height: 100%;

.DiseñoTodoFooter{
   min-width: 200px;
   display: flex;
   justify-content: space-around;
}

.DiseñoTodoFooter a{
   text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 45%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;

}
.DiseñoTodoFooter a:hover{
   transform: scale(1.2);

}


/* CSS de index*/
.angry-grid {
    display: grid; 
 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   
    @include gap-height(0px,100%);
    
 }
 
 .col{

   display: flex;
 }
 #item-Main { 
    grid-row-start: 5;
    grid-column-start: 1;
 
    grid-row-end: 8;
    grid-column-end: 6;
 }
 #item-Footer {
    grid-row-start: 8;
    grid-column-start: 1;
    grid-row-end: 9;
    grid-column-end: 6;
    text-align: center;
 }
 #item-MenuModelos {
    grid-row-start: 4;
    grid-column-start: 1;
    color: white;
    grid-row-end: 5;
    grid-column-end: 5;
 }
 .col{
   color: white;
 }

 /* CSS de servicios*/
 .angry-gridServicios {
    display: grid; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    @include gap-height(0px,100%);
 }
 #ServiciosMain {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 6;    
 }
 #ServiciosFooter {
    grid-row-start: 7;
    grid-column-start: 1;
    grid-row-end: 8;
    grid-column-end: 6;
    text-align: center;   
 }

 .Servicios4 { 
   padding: 6px;
      margin: 10px;
     background-color: #569ec7;
    grid-row-start: 5;
    grid-column-start: 1; 
    grid-row-end: 6;
    grid-column-end: 3;
       
 }
 .Servicios5 {
   @extend .Servicios4;
    grid-row-start: 6;
    grid-column-start: 1;
    grid-row-end: 7;
    grid-column-end: 3;  
 }
 .Servicios6 { 
   @extend .Servicios4;
    grid-row-start: 5;
    grid-column-start: 4; 
    grid-row-end: 6;
    grid-column-end: 6;   
 }
 .Servicios7 {
   @extend .Servicios4;
    grid-row-start: 6;
    grid-column-start: 4;
    grid-row-end: 7;
    grid-column-end: 6; 
 }
 .Servicios8 {
   @extend .Servicios4;
    grid-row-start: 5;
    grid-column-start: 3;
    grid-row-end: 6;
    grid-column-end: 4;  
 }
 .Servicios9 {
   @extend .Servicios4;
    grid-row-start: 6;
    grid-column-start: 3;
    grid-row-end: 7;
    grid-column-end: 4;  
 }

  /* CSS de promociones*/
  .angry-gridPromociones {
   display: grid; 
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   @include gap-height(0px,100%);
}

#PromocionesArticulo{
   grid-row-start: 3;
   grid-column-start: 1;
   grid-row-end: 6;
   grid-column-end: 6;
}
#PromocionesFooter {
   grid-row-start: 6;
   grid-column-start: 1;
   grid-row-end: 7;
   grid-column-end: 6;
   text-align: center; 
}



.galeria{
   font-family: 'Raleway', sans-serif;
}

.galeria h1{
   text-align: center;
   margin:20px 0 15px 0;
   font-weight: 300;
}

.linea{
   border-top: 5px solid #0077C0;
   margin-bottom: 40px;
}

.contenedor-imagenes{
   display:grid;
   width: 85%;
   margin: auto;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   align-content: center;
   border-radius:3px;
}

.contenedor-imagenes .imagen{
   width: 90%;
   position: relative;
   height:250px;
   margin-bottom:5px;
   box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
}
.imagen img{
   width: 100%;
   height:100%;
   object-fit: cover;
}

.overlay{
   position: absolute;
   bottom: 0;
   left: 0;
   background:rgba(0, 118, 192, 0.781) ;
   width: 100%;
   height: 0;
   overflow: hidden;
   transition: .5s ease;
}

.overlay h2{
   color: #fff;
   font-weight: 300;
   font-size:30px;
   position: absolute;
   top: 50%;
   left:50%;
   text-align: center;
   transform: translate(-50%, -50%);
}

.imagen:hover .overlay{
   height:100%;
   cursor: pointer;
}

 /* CSS de Contacto*/
 .angry-gridContacto {
   display: grid; 
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   @include gap-height(0px,100%);
} 

#ContactoFormulario {
   grid-row-start: 4;
   grid-column-start: 1;
   grid-row-end: 6;
   grid-column-end: 6; 
   color: white; 
}
#ContactoFormularioDeContacto {
   grid-row-start: 3;
   grid-column-start: 1;
   grid-row-end: 4;
   grid-column-end: 5;
   color: white;
}
#ContactoFooter {
   grid-row-start: 6;
   grid-column-start: 1;
   grid-row-end: 7;
   grid-column-end: 6;
   text-align: center;
}

 /* CSS de acerca de nosotros*/
 .angry-gridAcercaDeNosotros {
   display: grid; 
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  
   @include gap-height(0px,100%);
} 

#AdcMain {
   grid-row-start: 3;
   grid-column-start: 1;
   grid-row-end: 5;
   grid-column-end: 5;
}
#AdcFooter {
   grid-row-start: 5;
   grid-column-start: 1;
   grid-row-end: 6;
   grid-column-end: 6;
   text-align: center;
   
}


/* CSS DE PC*/

@media (min-width: 720px){
   .BodyGeneral{
      @include sizes(auto,auto);
   }
   .NavGeneral{
      display: inline;
      position: sticky;
       top: 0;
       z-index: 1;
       text-align: center;
       padding-left: 10px;
       padding-bottom: 10px;
       padding-top: 10px;
       padding-right: 10px;
   }
   .NavGeneral li a {
      position: sticky;
      text-decoration: none;
      background-color: #131720;
      display: inline-block;
      padding: 5px;
      margin: 5px;
      text-transform: uppercase;
      text-align: center;
      border: 3px solid #52f0e3  ;
      border-radius: 100px;
      color: white;

   }
   
   .DiseñoTodoFooter{
      min-width: 700px;
       display: flex;
       justify-content: space-around;
   }
   
   .DiseñoTodoFooter a{
      @include sizes(60,60);
      text-decoration: none;
       font-size: 28px;
       line-height: 60px;
       text-align: center;
       background: #314652;
       color: #ffffff;
       border-radius: 45%;
       box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
       transition: all .4s ease-in-out;
   
   }
   .DiseñoTodoFooter a:hover{
      transform: scale(1.2);
   
   }

 /* CSS de index PC*/
   .angry-grid {
      display:inline;
      @include gap-height(0px,100%);
   }
 
 /* CSS de servicios PC*/
 .angry-gridServicios{
   display:inline;
   @include gap-height(0px,100%);
 }
/* CSS de promociones pc */
 
.galeria{
   width: auto;
}
.contenedor-imagenes{
   display: flex;
   flex-wrap: wrap;
   width: 85%;
   margin: auto;
   
 }

 
 .contenedor-imagenes .imagen{
   width: 32%;
   
}

 /* CSS de contacto PC*/
 .angry-gridContacto{
   display:inline;
   @include gap-height(0px,100%);
 }


/* CSS de acerca de nosotros PC*/
.angry-gridAcercaDeNosotros{
   display:inline;
   gap: 0px;
   height: 100%;
}



}













